@model IEnumerable<PetShop.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Pessoas</h1>

<p>
    <a asp-action="Create">Cadastrar pessoa</a>
</p>

@foreach (var item in Model) {
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="~/imagens/@item.Photo" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                    <a asp-controller="Animals" asp-action="Create" asp-route-id="@item.Id">Novo pet</a>
                <div>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
}
